
En dessous de cette phrase ce trouve tous les films ect...

<% @movies.each do |movie| %>
    <p><%= movie.title %>, réalisé par <%= movie.director %>, sorti en <%= movie.release_year %></p>
<% end %>